<!-- Contenedor general -->

<div class="general-container flex flex-col items-center justify-center display-flex">

    <!-- Título de la aplicación -->
    <h1 class="text-5xl font-bold mb-5 text-blue-500">Bienvenido a PedroCar</h1>

    <!-- Texto de la aplicación -->
    <p class="text-2xl text-justify max-w-lg text-gray-700">PedroCar es una aplicación que te permite gestionar
        usuarios
        y ver los
        viajes con sus trayectos que planifican dichos usuarios. ¡Empieza ya a disfrutar de sus funcionalidades!
        ¿Por
        qué no comienzas por revisar todos los usuarios registrados?</p>

    <!-- Botón para acceder a la lista de usuarios -->
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-10" routerLink="/usuarios">
        Ver usuarios
    </button>

</div>