.general-container {
    margin: 0 auto;
    background-color: #D6EAF8;
    color: #2C3E50;
}

h1 {
    font-size: 5rem;
}

p {
    font-size: 2rem;
    text-align: justify;
    max-width: 50rem;
}

button {
    font-size: 1.5rem;
    background-color: #3498DB;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980B9;
}


.prueba {
    background-color: #dbe5f1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.general-container {
    text-align: center;
    margin: 0 auto;
    background-color: #E8F2FF;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}