/* Estilo para los elementos label dentro del formulario */
.registro-form label {
  display: block;
  margin-bottom: 10px;
}

/* Estilo para los elementos input dentro del formulario */
.registro-form input {
  margin-bottom: 20px;
}

/* Estilo para el botón dentro del formulario */
.registro-form button {
  margin-top: 20px;
}